<footer class="footer section bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="footer-brand" href="@@path/index.html">
                    <img src="@@path/assets/img/brand/light.svg" alt="Brand logo footer">
                </a>
                <p class="mt-4 text-gray">For those seeking the finest in services and technology in a downtown business center, without the high cost.</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                        <li>
                            <a href="https://twitter.com/themesberg" target="_blank" rel="nofollow" class="btn btn-lg btn-link btn-twitter text-white" data-toggle="tooltip" data-placement="top" title="Follow us on Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/themesberg" target="_blank" rel="nofollow" class="btn btn-lg btn-link btn-facebook text-white" data-toggle="tooltip" data-placement="top" title="Like us on Facebook">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/themesberg" target="_blank" rel="nofollow" class="btn btn-lg btn-link btn-github text-white" data-toggle="tooltip" data-placement="top" title="Star us on Github">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://dribbble.com/themesberg" target="_blank" rel="nofollow" class="btn btn-lg btn-link btn-dribbble text-white" data-toggle="tooltip" data-placement="top" title="Like us on Dribbble">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 mt-4 mt-md-0">
                <h6 class="font-weight-normal">About Us</h6>
                <ul class="links-vertical">
                    <li><a class="text-gray" href="https://themesberg.com/blog" target="_blank">Blog</a></li>
                    <li><a class="text-gray" href="https://themesberg.com/about" target="_blank">About Us</a></li>
                    <li><a class="text-gray" href="https://themesberg.com/products" target="_blank">Products</a></li>
                    <li><a class="text-gray" href="https://themesberg.com/contact" target="_blank">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mt-4 mt-md-0">
                <h6 class="font-weight-normal">Market</h6>
                <ul class="links-vertical">
                    <li><a class="text-gray" href="#">Sales FAQ</a></li>
                    <li><a class="text-gray" href="#">How to Register</a></li>
                    <li><a class="text-gray" href="#">Sell Goods</a></li>
                    <li><a class="text-gray" href="#">Receive Payment</a></li>
                    <li><a class="text-gray" href="#">Sell Goods</a></li>
                    <li><a class="text-gray" href="#">Receive Payment</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-4 col-xl-4 mt-3 mt-lg-0 mt-4 mt-md-0">
                <h6 class="font-weight-normal">Subscribe</h6>
                <p class="text-gray">Join our mailing list. We write rarely, but only the best content.</p>
                <form>
                    <div class="form-row">
                        <div class="col-12">
                            <input type="email" class="form-control mb-2" placeholder="Email Address" name="email" required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-secondary shadow-soft btn-block" data-loading-text="Sending">
                                <span>Subscribe</span>
                            </button>
                        </div>
                    </div>
                </form>
                <small class="text-gray mt-3 form-text">We’ll never share your details. See our <a class="text-light"
                        href="@@path/html/pages/legal.html">Privacy Policy</a>
                </small>
            </div>
        </div>
        <hr>
        <div class="copyright text-center mt-5">
            &#xA9; <span id="current-year"></span> <a href="https://themesberg.com">Themesberg</a>. All rights reserved.
        </div>
    </div>
</footer>